.container{
	width: 360px;

	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.fa-plus{
	color: white;
}

.selected{
	color: gray;
	text-decoration: line-through;
}

h1{
	background:#488fb5;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
	padding: 10px 10px 5px 10px;
	margin: 0;
}
input{
	width: 100%;
	line-height: 25px;
	box-sizing: border-box;
	outline: none;
	background: #f7f7f7;
	padding-left: 12px 12px 12px 20px;
	color: #403e4d;
}

li{
	background: white;
	padding: 10px 10px 10px 0;
	color: #403e4d;
}
ul{
	padding-left: 0;
	margin: 0;
	list-style: none;
}

li:nth-child(2n){
	background: #f7f7f7;
}

input[type="text" i] {
    padding: 12px 20px;
    font-size: 18px;
}
body{
	font-family: "Roboto";
	background: #83a4d4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
span{
	background: red;
	margin-right: 20px;
	line-height: 20px;
	text-align: center;
	width: 0;
	color:white;
	display: inline-block;
	padding: 0 0 0 0;
	opacity: 0;
	transition: .2s linear;
}

li:hover span{
	width:40px;
	opacity: 1;
}
.fa-plus{
	float: right;
}